{% extends 'base.html' %}

{% block title %} SQLGenerator{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title"> SQL Data generator </h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="post" >
                {% csrf_token %}

                <div class="form-group">
                    <label for="featureName">Motor</label>
                     <select class="form-control" id="event" name="motor">
                                    <option>Oracle</option>
                                    <option>MySQL</option>
                                    <option>Postgres</option>
                                    <option>SQLite</option>
                                    <option>MSSQL</option>
                                </select>
                    </small>
                </div>

                <div class="form-group">
                     <label for="featureName">Generar tabla</label>
                     <input type="checkbox" id="cbox2" value="generateTable">
                    </small>
                </div>
                <div class="form-group">
                    <label for="featureName">Nombre de tabla</label>
                    <input type="text" class="form-control" id="tableName" placeholder="Nombre de tabla" name="tableName">
                    </small>
                </div>
                <div class="form-group">
                    <label for="scenario">Número de filas a generar</label>
                    <input type="number" class="form-control" id="numFilas" placeholder="Número de filas" name="numFilas">
                    </small>
                </div>
                <div class="form-group">
                    <label for="Pasos">Columnas</label>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Nombre de columna</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <select class="form-control" id="event" name="column[]">
                                    <option>Alfanumérico</option>
                                    <option>Autoincremento</option>
                                    <option>Booleano</option>
                                    <option>CVV</option>
                                    <option>Ciudad</option>
                                    <option>Compañias</option>
                                    <option>Paises</option>
                                    <option>Fecha</option>
                                    <option>Nombre Masculino</option>
                                    <option>Nombre Femenino</option>
                                    <option>Apellido</option>
                                    <option>Correo</option>
                                </select>
                            </td>
                            <td>
                             <input type="text" class="form-control" id="nombreColumna" placeholder="Nombre columna" name="nombreColumna[]">
                            </td>

                        </tr>

                        </tbody>
                    </table>
                    <input type="button" class="add-column btn btn-Info "  value="Agregar registro">
                </div>

                <button type="submit" class="btn btn-primary">Ejecutar</button>
            </form>
        </div>

    </div>



{% endblock %}
