{% extends 'base.html' %}

{% block title %} Random Testing {% endblock %}


{% block content %}

     <!-- Ace code editor -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title"> Android Studio </h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>
        <hr>

        <div class="card-body">
            <div class="row ">
                <div class="col-4">
                    <label> Aplicación móvil instalada : </label>
                    <select class="form-control" id="app">
                        <option value="org.wikipedia"> Wikipedia </option>
                        <option value="org.k9mail"> K-9 Mail </option>
                        <option value="com.rutasdeautobuses.transmileniositp"> Trasmilenio </option>
                    </select>

                </div>
                <div class="col-4">
                    <label> Número de eventos sobre la App : </label>
                    <input class="form-control" id="numEvent"/>
                </div>
            </div>
        </div>
        <hr>
        <div class="row ml-5 mb-5">
            <a href="#" class="btn bg-blue"><i class="icon-backspace mr-2"></i> Atrás</a>
            <a href="#" class="btn bg-teal-400" id="ejecutar"><i class="icon-statistics mr-2"></i> Ejecutar</a>

        </div>
    </div>

{% endblock %}

