{% extends 'base.html' %}

{% block title %} Behavior Driven Testing {% endblock %}


{% block content %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title"> Feature </h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="featureName">Nombre feature</label>
                    <input type="text" class="form-control" id="featureName" name="featureName"
                           placeholder="Ingresa el nombre del Feature">

                    </small>
                </div>
                <div class="form-group">
                    <label for="featureName">Historia de usuario</label>
                    <input type="text" class="form-control" id="userStory" placeholder="Historia de usuario" name="userStory">
                    </small>
                </div>
                <div class="form-group">
                    <label for="scenario">Nombre del Escenario</label>
                    <input type="text" class="form-control" id="scenarioName" placeholder="Nombre del escenario" name="scenName">
                    </small>
                </div>
                <div class="form-group">
                    <label for="scenario">Pagina a probar</label>
                    <input type="text" class="form-control" id="website" placeholder="Pagina a probar" name="website">
                    </small>
                </div>
                <div class="form-group">
                    <label for="Pasos">Pasos</label>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Evento</th>
                            <th>Tipo</th>
                            <th>Buscador</th>
                            <th>Valor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <select class="form-control" id="event" name="evento[]">
                                    <option>click</option>
                                    <option>wait</option>
                                    <option>press</option>
                                    <option>fill input</option>
                                </select>
                            </td>
                            <td>
                                  <select class="form-control" id="type" name="type[]">
                                    <option>button</option>
                                    <option>input</option>
                                    <option>link text</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="finder" placeholder="Buscador" name="finder[]">
                            </td>
                            <td>
                                <input type="text" class="form-control" id="value" placeholder="Valor" name="value[]">
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <input type="button" class="add-row btn btn-Info "  value="Add Row">
                </div>
                <div class="form-group">
                    <label for="scenario">Condición salida</label>
                    <select class="form-control" id="type" name="outputCond">
                                    <option>input</option>
                                    <option>link text</option>

                                </select>

                </div>
                 <div class="form-group">
                    <label for="scenario">Valor esperado</label>
                    <input type="text" class="form-control" id="exval" placeholder="Valor esperado" name="exval">
                    </small>
                </div>
                <button type="submit" class="btn btn-primary">Ejecutar</button>
            </form>
        </div>

    </div>



{% endblock %}